*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    

}

@keyframes Transitionin{
  from{
     opacity: 0;
  }

  to{
     
     opacity: 1;
  }


}

.main-text{
 animation: Transitionin 1s;
}


.container{
  background-color: #2e2e38;
  overflow: hidden;
  box-sizing: border-box;
  background-image: linear-gradient( to left, #2e2e38 ,  black);
}

.navbar{
    z-index: 10000;
    background-color: #2e2e38;

    width: 100%;
}

#logo{
    max-width: 7rem;
    max-height: 7rem;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }

  /* The sidebar menu */
.sidenav {
  height:100vh; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  bottom: 0; /* Stay at the top */
  left: 0;
  background-color: black;
 
 
  padding-top: 100px;
  padding-top: 5;
}

/* The navigation menu links */
.sidenav a {
  top: 10;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* The navigation menu links */
nav a {
  color: #818181;
  display: block;
  transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
nav a:hover {
  color: #f1f1f1;
}

#fraud:hover{
  background-color: #f44f4f;
}

#notfraud:hover{
  background-color: #95bf44;
}

button{
  background-color: #111;
  border: none;
}

#submitbtn{
  background-color: #111;
  color: white;

}

@media only screen and (max-width: 1130px){
  #elements{
 margin-left: 10em;
  }


  
}
